@use "../../assets/styles/globals" as *;

.about-page-wrapper {
    @include grid(2);
    width: 60%;
    margin: 0 auto;
    align-items: center;
    img {
        float: right;
    }
    .about-page-content {
        p {
            color: $dark-gray;
            font-family: dm sans;
        }
        h1 {
            width: 350px;
            font-family: dm sans;
            margin-top: 5px;
        }
        .about-page-description {
            width: 400px;
            margin-top: 20px;
            color: $dark;
        }
    }
}
.about-content {
    @include grid(2);
    width: 60%;
    margin: 0 auto;
    align-items: center;
    .about-nft-represent {
        padding-left: 100px;
        width: 60%;
        h1 {
            font-family: dm sans;
        }
        p {
            margin-top: 10px;
            width: 400px;
            font-family: dm sans;
        }
    }
}
.about-icons {
    @include grid(4);
    width: 70%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    p {
        font-family: dm sans;
    }
    h1 {
        font-family: dm sans;
        font-size: 20px;
        margin-top: 20px;
    }

    img  {
        width: 50px;
        height: 50px;
    }
    .about-rocket,
    .about-collections,
    .about-creators,
    .about-volurme{
        @include flex(column)
    }
}
.about-nft-distro {
    text-align: center;
    margin-top: 100px;
    background-color: $dark;;
    height: 50vh;
    color: $white;
    h1 {
        padding-top: 50px;
        font-family: dm sans;
    }
    .nft-distro {
        margin-top: 20px;
        img {
            width: auto;
            box-shadow: 0 5px 10px 0px black;
            border-radius: 10px;
        }
    }
}
.about-partners {
    margin-top: 400px;
    text-align: center;
    font-family: dm sans;
    font-size: 1.5em;
    margin-bottom: 30px;
    .about-partners-icon {
        @include grid(5, 30px);
        width: 65%;
        margin: 40px auto;
    }
}