@use "../../../assets/styles/globals" as *;
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


.nav-wrapper {
    padding: 50px 150px;
    text-align: center;
    @include flex($justify: space-between);
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;

    .left {
        @include flex($gap: 50px);
    }

    .right {
        @include flex($gap: 20px);

        a {
            padding: 20px 10px;

            &.active {
                color: $red;
                font-weight: bold;
                border-bottom: 2px solid $red;
            }
        }
    }
}