@use "../../../assets/styles/globals" as *;

.search-container {
    @include flex();
    background-color: #ffffff;
    border-radius: 16px;
    padding: 12px 15px;
    background-color: $light-gray;
    color: $text-color;
    max-width: 500px;
    font-size: 1px;

    & :focus {
        transform: scale(1.015);
    }

    .search-input {
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 18px;
        width: 100%;
        color: $text-color;
    }

}