@use "../../../assets/styles/globals" as *;
@use "../../../assets/styles/initial.scss" as *;

.connect-wallet-div {
    padding: 20px 150px;
    @include grid(2, 20px);

    .left {
        @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

        p {
            font-family: "DM Sans", sans-serif;
            font-optical-sizing: auto;
            font-weight: normal;
            font-style: normal;
            color: $text-color;
            margin-top: 20px;
            margin-bottom: 30px;
        }

        .text-1 {
            font-family: 'DM Sans';
            font-weight: bold;
            color: $text-color;
            font-size: 1.1em;
        }

        h1.big-text {
            font-family: Arial, Helvetica, sans-serif;
            font-style: normal;
            font-size: 3em;
            line-height: 70px;

        }

        .button {
            font-family: "DM Sans", sans-serif;
            font-optical-sizing: auto;
            font-weight: bold;
            font-style: normal;
            background: $red-gradient;
            @include flex();
            padding: 15px 25px;
            border-radius: 13px;
            color: $white;
            width: 200px;
            max-width: 500px;
            cursor: pointer;
            transition: 0.3s ease;

            &:hover {
                padding: 19px 25px;
                background: $red-gradient-reverse;
            }
        }
    }
}