@use "../../../assets/styles/globals" as *;


.trending-art-wrapper {
    padding: 20px 150px;

    .intro {
        margin-bottom: 20px;
        @include flex($justify: space-between);
    }

    .create-nft-button {
        background: $red-gradient;
        color: $light;
        border: none;
        padding: 10px 20px;
        font-weight: 500;
        border-radius: 15px;
        font-size: 1.2em;
        cursor: pointer;
    }

    .create-nft-form {
        width: 100%;

        .form-field {
            margin-bottom: 20px;
            text-align: left;

            &>* {
                margin: 5px 0;
            }

            input,
            button {
                width: 100%;
                padding: 10px 20px;
                border-radius: 5px;
                border: 1px solid $dark-gray;
                border-radius: 10px;
            }

            button {
                background: $red-gradient;
                color: $white;
                font-size: 1.2em;
                font-weight: 600;
                cursor: pointer;
            }

        }
    }


    .nft-items-wrapper {
        position: relative;
        @include grid(4, 20px);

        * {
            transition: all 0.3s ease;
        }

        .nft-item-wrapper {
            width: 365px;
            background-color: $light;
            border-radius: 10px;
            padding: 10px;
            position: relative;
            overflow: hidden;

            img {
                margin-bottom: 10px;
                width: 100%;
                height: 250px;
            }

            .nft-inner-info {
                font-family: sans-serif;

                .details {
                    @include grid(2);
                    align-items: center;

                    .author {
                        font-size: large;
                    }

                    .price {
                        text-align: right;

                        .text-muted {
                            color: $dark-gray;
                        }
                    }
                }
            }

            .edit-nft-btn {
                position: absolute;
                top: 40%;
                left: 165px;
                z-index: 10;
                background-color: white;
                cursor: pointer;
                box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
                @include circle(50px);
                @include flex();
                display: none;

                svg {
                    fill: $red;
                    color: $light;
                    font-size: 1.5em;
                }
            }


            &:hover {
                box-shadow: 0 0 20px 5px lightgray;
                background-color: white;

                .edit-nft-btn {
                    display: flex;
                }

                img {
                    filter: blur(1px) brightness(0.6);
                }
            }
        }
    }
}